<h1>All Ideas</h1>

<% @ideas.each do |idea| %>
  <%= link_to idea.title, user_idea_path(idea.user_id, idea) %><br>
  <%= idea.body_text %><br>
  <% find_all_idea_images(idea.id) do |image| %>
    <%= image.image_url %>
  <% end %>
<% end %><br>
<%= link_to "Add Image to an Idea", new_user_ideas_image_path(current_user) %>
